@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  overflow: hidden;
  /* Prevent scrolling on the main page */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* CRT Scanline Effect */
.scanlines {
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0.2));
  background-size: 100% 4px;
  pointer-events: none;
}

/* CRT Glow/Bloom for text */
.crt-text {
  text-shadow: 0 0 2px rgba(51, 255, 51, 0.7), 0 0 5px rgba(51, 255, 51, 0.5);
}